.message {
}

.imageAndText {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    order: 2;
}

.text {
    position: relative;
    color: white;
    background-color: #0066CC;
    margin-right: 20px;
    border-radius: 15px;
    padding: 15px;
    z-index: 10;
}

.text:after {
    content: ' ';
    padding: 20px;
    display: inline-block;
    background-color: #0066CC;
    position: absolute;
    right: -17px;
    bottom: 0;
    border-top-right-radius: 99px;
    z-index: -1;
}

.name, .messageText, .time {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}

.name {
    display: flex;
    justify-content: end;

    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.time {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    line-height: 12px;

    padding: 3px;
}