.item {
    display: grid;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 0;
    align-items: center;
    width: 100%
}

.item:last-of-type {
    border: none;
}

.users {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;
    padding: 10px 0;
}

.buttonsContainer {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.container {
    width: 40%;
}

.thead {
    font-weight: bold;
    background-color: #E5E5E5;
}

.nameCol {
    padding: 10px 20px;
}

.ageCol {

}