.spanBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.span {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #0080FF;
}

.input {
}

.pen {
}