.App {
    --header_height: 60px;
}

.hw {
    width: 1280px;
    border: solid #D9D9D9 1px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.hwTitle {
    font-size: 22px;
    margin: 30px 142px;
    width: 165px;
    height: 27px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #000000;

}