.button {
    height: 30px;
    padding: 5px 24px 5px 24px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.button:first-letter{
    text-transform: uppercase;
}

.disabled {
    color: grey;
    background-color: lightgray;
}

.secondary {
    border: 1px solid #0066CC;
    background-color: #fff;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
}

.red:hover {
    background-color: black;
    content: "Clicked!";
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
    background-color: white;
    color: black;
    content: 'wqeqweqweqw';
}

.button:disabled {
}
